.completion {
  width: 50%;
  border: solid 2px;
  border-radius: 3px;
  padding: 0.75em;
  margin-bottom: 0.5em;
}

.red-target {
  border-color: rgba(200, 0, 0, 1);
  background-color: rgba(200, 0, 0, 0.25);
}

.orange-target {
  border-color: rgba(200, 100, 0, 1);
  background-color: rgba(200, 100, 0, 0.25);
}

.yellow-target {
  border-color: rgba(255, 255, 0, 1);
  background-color: rgba(255, 255, 0, 0.25);
}

.green-target {
  border-color: rgba(0, 255, 0, 1);
  background-color: rgba(0, 255, 0, 0.25);
}

.blue-target {
  border-color: rgba(0, 0, 255, 1);
  background-color: rgba(0, 0, 255, 0.25);
}

.purple-target {
  border-color: rgba(255, 0, 255, 1);
  background-color: rgba(255, 0, 255, 0.25);
}
